@model IEnumerable<TechnicalInterview_FeedReader.Models.NewsItem>

@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                View stories from all feeds at once or filtered to your current interest.
            </p>
        </div>
    </section>
}

@if (ViewBag.feedName.Items.Count == 0) {
    <h3>You're not currently subscribed to any feeds. We suggest the following:</h3>
    <ol class="round">
        <li class="one">
            <h5>Getting Started</h5>
            Subscribe to feeds from your favorite websites.
            @Html.ActionLink("Click Here", "Index", "NewsFeeds")
        </li>

        <li class="two">
            <h5>Find Out whatsUP</h5>
            View stories from all feeds at once or filtered to your current interest.
        </li>
    </ol>
}
else
{
    using (Html.BeginForm("Index", "Home", FormMethod.Get)) {
        <fieldset>
        <legend>Filter</legend> 
         <div class="editor-label"><label>Feed</label></div>
         <div class="editor-field">@Html.DropDownList("feedName", "All")</div>
         <div class="editor-label"><label>Keywords</label></div>
         <div class="editor-field">@Html.TextBox("SearchString")</div>
         <input type="submit" value="Filter" />
         </fieldset>
    }
    
    int counter = 1;
    foreach (var item in Model)
    {
        <table style="border: 1px solid black; width:100%">
            <tr>
                <td width="10px" style="min-width:10px;background-color:@Html.DisplayFor(modelItem => item.NewsFeed.Color)">
                    &nbsp;
                </td>
                <td style="padding-left:5px">
                    <h3>@Html.Raw(item.Title)</h3>
                    <a id="detailsLink@(counter)" onclick="readMore('detailsLink@(counter)', 'details@(counter)')">Read More</a>
                    <span id="details@(counter)" style="display:none">@Html.Raw(item.Summary)</span>
                    <p><em>Published:</em> @item.PublishDate.ToString("MMMM dd, yyyy h:mm")<br />
                    <em>From Feed:</em> @Html.DisplayFor(modelItem => item.NewsFeed.Title)</p>
                </td>
            </tr>
        </table>
        counter++;
    }
}

@section Scripts {
<script type="text/javascript">
    function readMore(detailsLinkId, detailsId) {
        $("#" + detailsId).css("display", "block");
        $("#" + detailsLinkId).css("display", "none");
    }
</script>
}
